.content-left {
  width:850px;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #5682f0;
  font-family: sans-serif;
  margin: 20px;
}

.content-image {
  width: 100%;
  height: auto;
  display: block;
}

.main-content {
  padding: 15px;
  margin-left: 15px;
  text-align: left;
}
.content-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}
.content-intro{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 15px;
}
.content-paragraph{
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
}
.content-button{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 15px;
    background: #5682f0;
    border: 2px solid white;
    border-radius: 25px;
}
.content-button:hover{
    background-color: black;
}